parameters:
    locale: en_US

    database_wp_host: db
    database_wp_port: 3306
    database_wp_name: wordpress
    database_wp_user: wordpress
    database_wp_password: dk8e_z-e5e
    database_wp_charset: utf8
    database_wp_collate: ""
    database_wp_table_prefix: wp_

    aws_key_id: ~
    aws_access_key: ~

    debug: false
    cache: true

    redis_host: redis
    redis_port: 6379

    elasticpress_host: es
    elasticpress_port: 9200
    elasticpress_index_prefix: elasticpress
    elasticpress_network: true
    elasticpress_protocol: http

    docker_wordpress_title: My Docker Wordpress
    docker_wordpress_username: admin
    docker_wordpress_password: jfMAg8d_Z%dz-E
    docker_wordpress_email: admin@word.press
    docker_wordpress_url: http://localhost:8080/
