parameters:
    database_webp_host:     ~
    database_webp_port:     ~
    database_webp_name:     ~
    database_webp_user:     ~
    database_webp_password: ~

    database_wp_host:     ~
    database_wp_port:     ~
    database_wp_name:     ~
    database_wp_user:     ~
    database_wp_password: ~

    aws_key_id: ~
    aws_access_key: ~

    debug: false

    solr_host: qasolrcloud-01
    solr_port: 8983
    solr_path: solr/en_CA.v4_shard1_replica1
    solr_core: ~
